<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linrun.ssm.dao.BaseDAO">

    <!--<resultMap type="ParaBodyBO" id="paramBodyResult">
        <id property="bodyCode" column="f_body_code" />
        <result property="bodyName" column="f_body_name" />
        <result property="bodyDispcode" column="f_body_dispcode" />
        <result property="bodyDispname" column="f_body_dispname" />
    </resultMap>-->
    <!-- 根据头编码获取参数体列表 -->
    <!--<select id="getParamBodyListByHeadCode" parameterType="java.lang.Integer" resultMap="paramBodyResult">
        SELECT
            tpb.f_body_code,
            tpb.f_body_name,
            tpb.f_body_dispcode,
            tpb.f_body_dispname
        FROM
            tb_para_body tpb
        WHERE
            tpb.f_head_code = #{headCode }
        ORDER by tpb.F_BODY_CODE
    </select>-->
</mapper>