<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 开启二级缓存,默认是true -->
     	<!-- <setting name="cacheEnabled" value="true"/> -->
		<!-- 使用jdbc的getGeneratedKeys 获取数据库自增主键值 -->
		<!-- <setting name="useGeneratedKeys" value="true"/> -->
		<!-- 使用列别名替换列名  默认：true -->
		<!-- <setting name="useColumnLabel" value="true"/> -->
		<!-- 打印SQL语句 -->
		<setting name="logImpl" value="LOG4J"/>
		<!-- 全局懒加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 自动驼峰命名转换 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 默认为可空的类型设置为null -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
</configuration>